@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    margin: 0;
    padding: 0;
}

.generate{
    margin: auto;
    position: relative;
    width: 90%;
    border: 1px solid black;
    box-sizing: border-box;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Patrick Hand', cursive;

    &-title{
        width: 100%;
        position: absolute;
        top: 0;
        background-color: #faedcd;
        font-size: 1.5rem;
        text-align: center;
        line-height: 40px;
        height: 40px;
        border-bottom: 1px solid #d4a373;
        box-sizing: border-box;
    }

    &-number{
        background-color: #e9edc9;
        position: absolute;
        top: 40px;
        left: 0;
        width: 60px;
        border-right: 1px solid #d4a373;
        box-sizing: border-box;
        div{
            height: 50px;
            line-height: 60px;
            text-align: center;
            box-sizing: border-box;
            border-bottom: 1px solid #d4a373;
        }
    }

    &-column{
        position: absolute;
        top: 40px;
        left: 60px;
        width: 500px;
        &-item{
            position: relative;
            cursor: pointer;
            background-color: #fefae0;
            height: 50px;
            display: flex;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            align-items: center;
            select#option-type{
                padding: 0 5px;
                box-sizing: border-box;
                margin-left: 15px;
                border-radius: 20px;
                width: 100px;
                height: 27px;
            }
            .icon-menu{
                margin-left: 15px;
                i{
                    font-size: 20px;
                }
            }
            .formula{
                padding: 0 5px;
                border-radius: 30px;
                height: 30px;
                border: 1px solid rgb(75, 75, 75);
                input[type="text"]{
                    border: none;
                }
                input[type="text"]:focus{
                    outline: none;
                }
            }
            .button-order{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(50%,-50%);
                width: 30px;
                height: 30px;
                background-color: #d4a373;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                i{
                    font-size: 20px;
                }
            }
        }
    }
}