@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
* {
  margin: 0;
  padding: 0;
}

.structure {
  height: 80px;
  margin-bottom: 15px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.structure img {
  position: absolute;
  width: 150px;
  left: 100px;
}
.structure-input {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding-left: 20px;
  gap: 15px;
  border: 1px solid #d4a373;
}
.structure-input .img-link-structure {
  width: 25px;
  height: 100%;
  border-right: 1px solid #d4a373;
}
.structure-input .img-link-structure i {
  margin-top: 17px;
  margin-left: -5px;
}
.structure-input #structure-input-text {
  width: 500px;
  font-family: "Patrick Hand", cursive;
  font-size: 1.3rem;
  border: none;
}
.structure-input #structure-input-text:focus {
  outline: none;
}
.structure-input .more-choose {
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 40px;
  border-left: 1px solid #d4a373;
  box-sizing: border-box;
}
.structure-input .more-choose div {
  -webkit-clip-path: polygon(0 0, 50% 50%, 100% 0);
          clip-path: polygon(0 0, 50% 50%, 100% 0);
  background-color: black;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 45%;
  margin-left: 10px;
}

.generate {
  margin: auto;
  position: relative;
  width: 90%;
  border: 1px solid black;
  box-sizing: border-box;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Patrick Hand", cursive;
}
.generate-title {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #faedcd;
  font-size: 1.5rem;
  text-align: center;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #d4a373;
  box-sizing: border-box;
}
.generate-number {
  font-size: 1.3rem;
  background-color: #e9edc9;
  position: absolute;
  top: 40px;
  left: 0;
  width: 60px;
  border-right: 1px solid #d4a373;
  box-sizing: border-box;
}
.generate-number div {
  height: 60px;
  line-height: 60px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #d4a373;
}
.generate-column {
  position: absolute;
  top: 40px;
  left: 60px;
}
.generate-column-item {
  box-sizing: border-box;
  border-bottom: 1px solid #d4a373;
  border-right: 1px solid #d4a373;
  padding-right: 40px;
  position: relative;
  background-color: #fefae0;
  height: 60px;
  display: flex;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  align-items: center;
}
.generate-column-item select#option-type {
  font-family: "Patrick Hand", cursive;
  font-size: 1.1rem;
  padding: 0 5px;
  box-sizing: border-box;
  margin-left: 15px;
  border-radius: 20px;
  width: 100px;
  height: 27px;
}
.generate-column-item .icon-menu {
  margin-left: 15px;
}
.generate-column-item .icon-menu i {
  font-size: 20px;
}
.generate-column-item .formula {
  background-color: white;
  margin-left: 15px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(75, 75, 75);
}
.generate-column-item .formula i:first-child {
  margin-left: 10px;
}
.generate-column-item .formula input[type=text] {
  margin-left: 10px;
  font-size: 1.1rem;
  border: none;
  padding-right: 5px;
  font-family: "Patrick Hand", cursive;
}
.generate-column-item .formula input[type=text]:focus {
  outline: none;
}
.generate-column-item .formula .more-choose {
  cursor: pointer;
  position: relative;
  height: 110%;
  width: 30px;
  border-left: 1px solid rgb(128, 128, 128);
  box-sizing: border-box;
}
.generate-column-item .formula .more-choose div {
  -webkit-clip-path: polygon(0 0, 50% 50%, 100% 0);
          clip-path: polygon(0 0, 50% 50%, 100% 0);
  background-color: black;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 45%;
  margin-left: 5px;
}
.generate-column-item .more-feature {
  margin-left: 30px;
  width: 26px;
  height: 26px;
  display: flex;
  gap: 3px;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}
.generate-column-item .more-feature div {
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
}
.generate-column-item .more-feature:hover {
  background-color: #d5b18e;
}
.generate-column-item .button-order {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 30px;
  height: 30px;
  background-color: #d4a373;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.generate-column-item .button-order i {
  font-size: 20px;
}/*# sourceMappingURL=css.css.map */